# Data files
data/
checkpoints/

# Logs
*.log
*.err

# Python cache
__pycache__/
*.pyc
*.pyo

# Conda/pip
*.egg-info/

data/
checkpoints/
checkpoints_flow/
checkpoints/
checkpoints_flow/
.vscode/
output_disco/
*.swp
example/
